<mat-card>Ingrese los datos del Especialista</mat-card>
<br>
<form class="example-container" [formGroup]="form" #frmEspecialista="ngForm">
  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>
   <mat-form-field class="example-full-width">
    <input matInput placeholder="Enfermedad" required [(ngModel)]="Enfermedad" formControlName="Enfermedad">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="nombre" required formControlName="nombre" [(ngModel)]="nombre">
  </mat-form-field>  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="rut" required formControlName="rut" [(ngModel)]="rut">
  </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="validarForm()" (click)="operar()">
      
      <span>Aceptar</span>
    </button>
    <button mat-button mat-dialog-close>

      <span>Cancelar</span>
    </button>
</form>
