<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar"> <!--*ngIf="loginService.estadoLogeado()">-->
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <h1 class="example-app-name">Consulta Medica</h1>
    <span class="example-spacer"></span>
    
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu">
          <button mat-menu-item class="nav-item nav-link-edit" [routerLink]="['']" >
        <mat-icon>home</mat-icon>
        <span>Inicio</span>  
    </button>
      <button mat-menu-item >
        <mat-icon>account_box</mat-icon>
        <span>Mi Perfil</span>
      </button>
      <!--(click)="sidenav.opened=false"-->
      <button mat-menu-item><!---  (click)="loginService.cerrarSesion()">-->
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>

    </mat-menu>

  </mat-toolbar>
  
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav mode="side" sytle="width:200px">
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/paciente"style="cursor: pointer">
          <mat-icon>account_circle</mat-icon>
          <span>Pacientes</span>
        </button>
        <span class="example-spacer"></span> 
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="medico"style="cursor: pointer">
          <mat-icon>assignment_ind</mat-icon>
          <span>Medicos</span>
        </button>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/examnen"style="cursor: pointer">
          <mat-icon>assignment</mat-icon>
          <span>Examen</span>
        </button>
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="/especialidadmedica" style="cursor: pointer">
          <mat-icon>bookmarks</mat-icon>
          <span>Especialidades</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>    
      <!--<router-outlet name="classroom"></router-outlet>-->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<router-outlet></router-outlet>
