<h2 mat-dialog-tittle>Ingresar Medico</h2>
<mat-dialog-content>Por fabor, ingrese los datos en los campos</mat-dialog-content>
<mat-dialog-actions>
    <form class="example-form">
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Numero Identificacion">
          </mat-form-field></td>
        </tr></table>
        <p>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Especialidad"></textarea>
          </mat-form-field>
        </p>
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Rut">
          </mat-form-field></td>
        </tr></table>
      </form>
<button mat-button mat-dialog-close>aceptar</button>
<button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>